/* raleway-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/raleway-v37-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/raleway-v37-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/raleway-v37-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 200;
  src: url("./assets/fonts/raleway-v37-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/raleway-v37-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/raleway-v37-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/raleway-v37-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/raleway-v37-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/raleway-v37-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/raleway-v37-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/raleway-v37-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/raleway-v37-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/raleway-v37-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/raleway-v37-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/raleway-v37-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 800;
  src: url("./assets/fonts/raleway-v37-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/raleway-v37-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/raleway-v37-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* economica-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Economica";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/economica-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* economica-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Economica";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/economica-v17-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* economica-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Economica";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/economica-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* economica-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Economica";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/economica-v17-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h2 {
  font-size: 5rem;
  font-family: "Raleway";
  color: rgba(159, 9, 8, 1);
}

.landing-section {
  height: 100vh;
  height: 100dvh;
  background-image: url(./assets/img/hero.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: "Raleway";
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: column;
  gap: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 112px;
  padding: 0px 160px;
}

.header > img {
  height: 64px;
}

.header a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.header-text {
  text-align: center;
  gap: 15px;
}

.header-text > h1 {
  font-size: 6rem;
}

.header-text > p {
  font-size: 1.6remß;
}

.nav-bar {
  display: flex;
  align-items: center;
  height: 36px;
  padding-top: 38px 0px 38px 0px;
  gap: 25px;
  padding: 10px 16px;
}

.nav-bar-link:hover {
  text-decoration: underline;
}

.call-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 36px;
  width: 229px;

  background-color: rgba(159, 9, 8, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.call-button:hover {
  font-weight: bold;
  border: 2px solid;
}

.how-to-order-section {
  font-family: "Raleway";

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 120px 160px;
}

.how-to-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
}

.how-to-order img {
  width: 128px;
}

.how-to-order p {
  font-family: "economica";
  font-size: 3.5rem;
  font-weight: bold;
}

.pick-noodle {
  width: 195px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.pick-broth {
  width: 195px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.add-toppings {
  width: 195px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.menu-section {
  background-image: url(./assets/img/our-menu-bg.jpg);
  background-position: center;
  background-size: cover;

  font-family: "Economica";
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;

  padding: 120px 160px;
  gap: 56px;
}

.menu-title {
  display: flex;
  justify-content: center;
}

.menu-section h3 {
  color: rgba(0, 0, 0, 1);
  font-size: 3.5rem;
}

.menu-1 {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 80px;
}

.menu-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  gap: 80px;
}

.menu-3 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 80px;
}

.menu-table {
  color: rgba(103, 94, 84, 1);
  text-align: left;
  width: 440px;
}

.menu-section img {
  height: 350px;
  width: 350px;
}

.location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px 64px 0px;

  font-family: "raleway";
  font-size: 1.5rem;
}

.adress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.map {
  display: flex;
}

.map img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.footer {
  background-color: rgba(10, 20, 30, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 112px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.socials {
  display: flex;
  gap: 16px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-icon {
  height: 44px;
  width: 44px;
}

.social-icons {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 1441px) {
  .header {
    padding: 0px max(120px, calc(50% - 720px));
  }

  .map {
    justify-content: center;
    padding: 0px max(10px, calc(50% - 720px));
  }

  .how-to-order-section {
    padding: 64px max(20px, calc(50% - 720px));
  }

  .menu-section {
    padding: 160px max(120px, calc(50% - 720px));
  }

  .footer {
    height: 144px;
    padding: 0px max(120px, calc(50% - 720px));
  }
}

@media screen and (min-width: 900px) and (max-width: 1279px) {
  .header {
    padding: 20px 40px;
  }

  .header-text > h1 {
    font-size: 5rem;
  }

  .header-text > p {
    font-size: 1.5rem;
  }
  .how-to-order-section {
    padding: 64px 40px;
    gap: 20px;
  }

  .how-to-order p {
    font-size: 2.5rem;
  }

  .menu-section {
    padding: 160px 40px;
    font-size: 1.5rem;
    gap: 24px;
  }

  .menu-section h3 {
    font-size: 2rem;
  }

  .location-section {
    padding: 64px 40px 48px;
  }

  .footer {
    height: 144px;
    padding: 12px 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
  .header {
    padding: 20px 40px;
  }

  .header-text > h1 {
    font-size: 5rem;
  }

  .header-text > p {
    font-size: 1.5rem;
  }

  .nav-bar-link {
    display: none;
  }

  .how-to-order-section {
    padding: 64px 40px;
    gap: 20px;
  }

  .how-to-order p {
    font-size: 2.5rem;
  }

  .menu-section {
    padding: 160px 40px;
    font-size: 1.5rem;
    gap: 24px;
  }

  .menu-section h3 {
    font-size: 2rem;
  }

  .location-section {
    padding: 64px 40px 48px;
  }

  .footer {
    height: 144px;
    padding: 12px 40px;
  }
}

@media screen and (min-width: 480px) and (max-width: 573px) {
  .how-to-order-section h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 504px) and (max-width: 768px) {
  h2 {
    font-size: 4rem;
  }

  .landing-section {
    gap: 160px;
  }

  .header {
    padding: 20px 40px;
  }

  .header-text > h1 {
    font-size: 2.5rem;
  }

  .header-text > p {
    font-size: 1.25rem;
  }

  .nav-bar-link {
    display: none;
  }

  .how-to-order-section {
    padding: 64px 40px;
  }

  .how-to-order {
    gap: 32px;
  }

  .how-to-order p {
    font-size: 2rem;
  }

  .how-to-order img {
    width: 120px;
  }

  .pick-noodle {
    max-width: 120px;
  }

  .pick-broth {
    max-width: 120px;
  }

  .add-toppings {
    max-width: 120px;
  }

  .menu-section {
    padding: 45px 40px;
    font-size: 1.25rem;
    gap: 12px;
  }

  .menu-section h3 {
    font-size: 32px;
  }

  .menu-1 {
    gap: 12px;
  }

  .menu-2 {
    gap: 12px;
  }

  .menu-3 {
    gap: 12px;
  }

  .menu-section img {
    height: 160px;
    width: 160px;
  }

  .menu-table {
    width: 331px;
  }

  .location-section {
    padding: 64px 40px 48px;
  }
  .adress > p {
    font-size: 1.25rem;
  }

  .footer {
    height: 144px;
    padding: 12px 40px;
  }

  .footer-logo {
    width: 305px;
    gap: 8px;
  }

  .social-icons {
    width: 40px;
    height: 40px;
  }

  .socials {
    gap: 12px;
  }
}    

@media screen and (max-width: 503px) {
  h2 {
    font-size: 2.25rem;
  }

  .landing-section {
    gap: 320px;
  }

  .header {
    align-items: center;
    height: 65px;
    padding: 12px 16px;
  }

  .header > img {
    height: 40px;
  }

  .header-text > h1 {
    font-size: 2.25rem;
  }

  .header-text > p {
    font-size: 1rem;
  }

  .nav-bar-link {
    display: none;
  }

  .how-to-order-section {
    padding: 64px 16px;
  }

  .how-to-order p {
    font-size: 1.5rem;
  }

  .how-to-order {
    flex-direction: column;
    gap: 32px;
  }

  .menu-section {
    padding: 64px 16px;
    font-size: 1.25rem;
    gap: 64px;
  }

  .menu-section h3 {
    font-size: 2rem;
  }

  .menu-1 {
    flex-direction: column;
    gap: 24px;
  }

  .menu-2 {
    flex-direction: column;
    gap: 24px;
  }

  .menu-3 {
    flex-direction: column;
    gap: 24px;
  }

  .menu-section img {
    height: 245px;
    width: 245px;
  }

  .menu-table {
    width: 290px;
  }

  .location-section {
    padding: 64px 16px 48px;
  }

  .adress > img {
    height: 15px;
    width: 10px;
  }

  .adress > p {
    font-size: 1rem;
  }
  .map img {
    width: 100%;
    object-fit: cover;
  }

  .footer {
    justify-content: space-between;
    padding: 23px 16px;
    height: 144px;
  }

 .footer p{
  display: none;
 }

  .footer-icon {
    height: 40px;
    width: 40px;
  }

}

@media screen and (max-width: 329px) {
  .adress > img {
    width: 10px;
  }
}
